{% extends "base.html" %}
{% load crispy_forms_tags%}
{% load static %}

{% block page_title %}
    Adicionar Equipamento
    
{% endblock page_title %}

       
    
{%block cont%}    
    <h1>ENTRADA DO EQUIPAMENTO</h1>    
{%endblock cont%}
    
{%block ban%}
    <a href="{% url 'todo_list'%}"># HOME</a> <br>
{%endblock ban%}


{% block content %}
    <h1>Entrada de equipamento</h1>
    
    <form action="."  method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}
        

        <button type="submit" class="btn btn-danger" >Salvar</button>
        <a href="{% url 'todo_list' %}" class="btn btn-primary">Cancelar</a>
    </form>

{% endblock content %}