{% extends "base.html" %}

{% load crispy_forms_tags%}
{% load static %}

{% block page_title %}  
    Saida de equipamento  
{% endblock page_title %}


    
{%block cont%}
    <h1>Saida do equipamentos</h1>
{%endblock cont%}
    
{%block ban%}
    <a href=""># HOME</a> <br>
{%endblock ban%}

  
{% block content %}        

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-danger">Salvar</button>
        <a href="{% url 'toda_list_saida' %}" class="btn btn-primary">Cancelar</a>
    </form>

{% endblock content %} 