{% extends "base.html" %}
{% load crispy_forms_tags%}

{% load static %}
{% block page_title %}
    MANUTENÇAO
{% endblock page_title %}

{% block cont%}
    <h1>EQUIPAMENTOS NA DIMAT PARA MANUTENÇÃO</h1>
{%endblock cont%}
{% block ban %}
            <a href="{% url 'entrada'%}"># ENTRADA DO EQUIPAMENTO</a> <br>
            <a href="#"># PENDENTE POR FALTA DE PEÇA</a> <br>
            <a href=""># PRONTO PARA ENTREGA</a>
            <a href=""># EQUIPAMENTOS ENTREGUE/RETIRADO</a>
{% endblock ban %}

{% block content %} 
{% if not todo_list.cocluido  %}
    
    <table class="table  table-bordered table-striped" >
        <thead class="thead-dark">
            <tr >
                
                <th scope="col"> Requisição </th>
                <th scope="col"> Ano </th>
                <th scope="col"> Local </th>
                <th scope="col"> Patrimonio </th>
                <th scope="col"> Solicitante </th>
                <th scope="col"> Equipamento </th>
                <th scope="col"> Data de Entrada </th>
                
                
                <th scope="col"> Ações </th>
            </tr>
        </thead>
        
        {% for todo in todos %}
            <tr>
                {%if todo.concluido == "concluido"%}
                {%else%}
                
                <td> {{ todo.requisicao }} </td>
                <td> {{ todo.ano }} </td>
                <td> {{ todo.local }} </td>
                <td> {{ todo.patrimonio }} </td>
                <td> {{ todo.solicitante }} </td>
                <td> {{ todo.equipamento }} </td>
                <td> {{ todo.dataentrada }} </td>
                
                <td>
                    <a href="{% url 'editar_infor' pk=todo.pk%}" class="btn btn-secondary btn-sm" >Editar</a>
                    <a href="{%  %}" class="btn btn-primary btn-sm">Entregar</a>
                    <a href="#" ><input type="button" value="Pendente"></a>
                    <a href="#" ><input type="button" value="Baixa"></a>
                </td>
                {%endif%}              
            </tr>
        {% endfor %}
                 
       
    </table>
{% else%}  
    <p>Não há entrada de equipamentos</p>
{% endif %}
{% endblock content %}